body {
  margin: 0;
  padding: 0;
}
.logo img {
  height: 2rem;
  margin-left: 1rem;
}

.navbar {
  align-items: center;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  display: flex;
  padding: 1rem;
}

.signin {
  color: blue;
  font-size: 1.4rem;
  list-style-type: none;
  margin-left: 10rem;
}
.heading {
  display: block;
  font-size: 2.3rem;
  margin: 2.8rem 0rem 0rem 0.1rem;
}
h1 {
  display: block;
  font-size: 2.3rem;
  margin: 0rem 8rem 0rem 1.7rem;
}
.paragraph-line1 {
  display: block;
  margin: 0rem 2rem;
}
.paragraph-line2 {
  display: block;
  margin: 0rem 2rem;
}
.paragraph-line3 {
  display: block;
  margin: 0rem 2rem;
}
.paragraph-line4 {
  display: block;
  margin: 0rem 2rem;
}
